
<div cdkDropListGroup [cdkDropListGroupDisabled]="DisableDropList">
  <div class="example-container">
    <h2>To do</h2>
    <div
      cdkDropList
      [cdkDropListData]="ToDo"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      
      <ng-container *ngFor="let task of ToDo">
          <div class="example-box" cdkDrag>
            <app-card [IsBacklog]="false"   [task]="task"></app-card>
          </div> 
      </ng-container>
    </div>
  </div>
 <div class="example-container">
    <h2>In Progress</h2>

    <div
      cdkDropList
      [cdkDropListData]="InProgress"
      class="example-list"
      (cdkDropListDropped)="drop($event)" >
      <ng-container *ngFor="let task of InProgress">
          <div class="example-box" cdkDrag>
            <app-card  [IsBacklog]="false"   [task]="task"></app-card>
          </div> 
      </ng-container>
    </div>
  </div>
  <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="Done"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <ng-container *ngFor="let task of Done">
          <div class="example-box" cdkDrag>
            <app-card [IsBacklog]="false"   [task]="task"></app-card>
          </div> 
      </ng-container>
    </div>
  </div>
</div>