<div class="container-fluid ">
  <div class="row">
    <div class="col-12 menu">
      <a (click)="OnOpen()" class="menu-btn ">
        <i class="fa menu-circle">{{ Projects.length }}</i>
        <i style="color:white;" class="fa fa-bars fa-3x float-left" aria-hidden="true"> </i>
      </a>
    </div>
  </div>
  <div [@openCloseMenu]="IsOpen? 'open':'*'" class="row row-height">   
     <div *ngFor="let item of Projects" class="col-4">
      <app-project-card ></app-project-card>
    </div>
    
  </div>
  <div class="row">
     <app-side-bar></app-side-bar>
  </div>
</div> 

