.row-height{
  height:0px;overflow-y: hidden;
}
.menu {
  background-color: #ffbb33;
  height:3.5em;
  overflow: visible;
}

.menu-btn {
  position: absolute;
  left:1%;
  margin-top:5px;
  margin-left: 5px;
  margin-bottom:5px;
  color: white; 
}
.menu-btn:hover{
color: #fff3e0;
}
.menu-circle {
  height: 2em;
  width: 2em;
  position: absolute;
  top:-.5em;
  right:-1em;
  border-radius: 100%;
  text-align: center;
  font-weight: bold;
  color: #ffbb33;
  background-color: white;
}

.body {
  
}
.open{
  margin-top: 30px;
  padding-top:20px;
  overflow-y:scroll;
  height:800px;
}