<!-- Button trigger modal -->
<!--todo 
add an exit button on top
-->
<div class="editor-background"></div>
<ng-container >
<div class="editor-container">
  <div class="card">
      
    <h5 class="card-header info-color white-text text-center py-4">
       
      <strong>Editor</strong>
      <a (click)="OnCancel()" class="btn btn-danger float-right">
        <i class="fa fa-times "></i>
      </a>
      
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">
      <!-- Form -->
      <div class="text-center" style="color: #757575;" action="#!">
        <!-- Title -->
        <div class="md-form mt-3">
          <label for="materialContactFormName">Title</label>
          <input [(ngModel)]="Title" type="text" [ngClass]="{ 'form-control': true }" [placeholder]="'test'"
             />
        </div>

        <!--Description-->
        <div class="md-form">
          <label for="materialContactFormMessage">Description</label>
          <textarea [(ngModel)]="Description" class="form-control md-textarea" rows="3"></textarea>
        </div>
       
        <!-- save button -->
        <button (click)="OnSave()" class="btn btn-success btn-block" [disabled]="!Title"type="submit"> save</button>
            
      </div>
      <!-- Form -->
    </div>
  </div>
</div>
</ng-container>
