<div class="container">
<div class="header">
    <a class="btn btn-primary  float-right" data="maximaize">
        <i class="fa fa-window-maximize"  aria-hidden="true"></i>
      </a>
    <a class="btn btn-primary  float-right" data="edit">
        <i class="fa fa-pencil-square-o"  aria-hidden="true"></i>
      </a>
    <a class="btn btn-primary float-right" data="delete">
        <i class="fa fa-trash  "  aria-hidden="true"></i>
      </a>

  <a class="btn btn-primary " data="taskes">
    <p class="task-number">{{'3'}}</p>
    <i class="fa fa-tasks"  aria-hidden="true"></i>
  </a>
    
</div>
<div class="body">dsfsdf</div>

</div>