
.task-btn{
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  top:10px;
}
.num{
  position: absolute;
  top:0px;
  right: 0px;
  border-radius: 100%;
  height:1em;
  width:1em;
  color: #ffbb33;
  text-align: center;
  font-weight:bold;
}




